<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" href="/jquery-easyui-1.4/themes/default/easyui.css">
<link rel="stylesheet" href="/jquery-easyui-1.4/themes/icon.css">
<script type="text/javascript" src="/jquery-easyui-1.4/jquery.min.js"></script>
<script type="text/javascript" src="/jquery-easyui-1.4/jquery.easyui.min.js"></script>
<script type="text/javascript" src="/jquery-easyui-1.4/easytree.js"></script>
<script type="text/javascript" src="/jquery-easyui-1.4/locale/easyui-lang-zh_CN.js"></script>
   <script type="text/javascript">
     $(function(){
    	 $('#dg').datagrid({    
    		    url:'users',    
    		    columns:[
    		    	[    
    		        {field:'ck',title:'',width:100,checkbox:true},    
    		        {field:'uid',title:'Code',width:100},    
    		        {field:'uname',title:'Name',width:100},    
    		        {field:'password',title:'Price',width:100,align:'right'},    
    		        {field:'img',title:'照片',width:100,align:'right',formatter:function(value,row,Index){
    		        	 if(value==null || value==''){
    		        		 return "图片未上传";
    		        	 }else{
    		        		 return "<img src='"+value+"' width='50px' height='50px'>"
    		        	 }
    		        }} 
    		    ]]    
    		});  

    	 
    	 
    	 
    	 
    	 
    	 
     });
     
     function plsc(){
	    	var rows=$('#dg').datagrid('getSelections');
	    	if(rows.length==""){
	    		$.messager.alert('警告','至少选择一条数据'); 
	    	}else{
	    		var ids="";
	        	for (var i = 0; i < rows.length; i++) {
	    			ids+=","+rows[i].uid;
	    		}
	        	ids=ids.substring(1);
	        	alert(ids);
	        	$.post('plsc',{uid:ids},function(obj){
	        		if(obj){
	        			//$.messager.alert('警告','删除成功'); 
	        			alert("成功");
	        			$('#dg').datagrid('reload');
	        		}else{
	        			alert("失败")
	        		}
	        	},"json")
	    	}
	    }
     
     function toadd(){
    	 alert("啊啊啊");
     	$("#u_add").dialog("open").dialog("setTitle","新增用户");
     }
   </script>

</head>
<body> 
      <div id="l" class="easyui-layout" data-options="width:1100,height:500">

    <div data-options="region:'north',title:'north',height:100"></div>

    <div data-options="region:'west',title:'west',width:200"></div>

    <div data-options="region:'east',title:'east',width:200"></div>

    <div data-options="region:'center',title:'center'">
    <div id="tb">
 日期范围:<input id="" name="" type="text" class="easyui-datebox"  style="width:100px" ></input>  -
<input id="maxtime" name="maxtime" type="text" class="easyui-datebox"  style="width:100px"></input>  

<input id="sname_desc" name="sname_desc" class="easyui-textbox"  style="width:200px" prompt="商品名称、商品描述"> 
<a id="btn" href="#" onclick="searchshop()" class="easyui-linkbutton" data-options="iconCls:'icon-search'">查询</a> 
<br/>
<a id="btn" href="#" onclick="plsc()" class="easyui-linkbutton" data-options="iconCls:'icon-remove'">批量删除</a>  
<a id="btn" href="#" onclick="toadd()" class="easyui-linkbutton" data-options="iconCls:'icon-save'">增加商品</a>  
<a id="btn" href="#" onclick="fanxuan()" class="easyui-linkbutton" data-options="iconCls:'icon-search'">反选</a>  
</div>
     <table id="dg"></table>  
     
     </div>
     </div>
     
     
     
     <!--添加-->
     	<div class="easyui-dialog" title="New Topic" style="width:400px" closed=true id="u_add">
		<div style="padding:10px 60px 20px 60px">
	    <form id="ff" method="post">
	    	<table cellpadding="5">
	    		<tr>
	    			<td>Name:</td>
	    			<td><input class="easyui-textbox" type="text" name="name" data-options="required:true"></input></td>
	    		</tr>
	    		<tr>
	    			<td>Email:</td>
	    			<td><input class="easyui-textbox" type="text" name="email" data-options="required:true,validType:'email'"></input></td>
	    		</tr>
	    		<tr>
	    			<td>Subject:</td>
	    			<td><input class="easyui-textbox" type="text" name="subject" data-options="required:true"></input></td>
	    		</tr>
	    		<tr>
	    			<td>Message:</td>
	    			<td><input class="easyui-textbox" name="message" data-options="multiline:true" style="height:60px"></input></td>
	    		</tr>
	    		<tr>
	    			<td>Language:</td>
	    			<td>
	    				<select class="easyui-combobox" name="language">
	    				           <option value="ar">Arabic</option>
	    				           <option value="bg">Bulgarian</option>
	    				           <option value="ca">Catalan</option>
	    				           <option value="zh-cht">Chinese Traditional</option>
	    				           <option value="cs">Czech</option>
	    				           <option value="da">Danish</option>
	    				           <option value="nl">Dutch</option>
	    				           <option value="en" selected="selected">English</option>
	    				           <option value="et">Estonian</option>
	    				           <option value="fi">Finnish</option>
	    				           <option value="fr">French</option>
	    				           <option value="de">German</option>
	    				           <option value="el">Greek</option>
	    				           <option value="ht">Haitian Creole</option>
	    				           <option value="he">Hebrew</option>
	    				           <option value="hi">Hindi</option>
	    				           <option value="mww">Hmong Daw</option>
	    				           <option value="hu">Hungarian</option>
	    				           <option value="id">Indonesian</option>
	    				           <option value="it">Italian</option>
	    				           <option value="ja">Japanese</option>
	    				           <option value="ko">Korean</option>
	    				           <option value="lv">Latvian</option>
	    				           <option value="lt">Lithuanian</option>
	    				           <option value="no">Norwegian</option>
	    				           <option value="fa">Persian</option>
	    				           <option value="pl">Polish</option>
	    				           <option value="pt">Portuguese</option>
	    				           <option value="ro">Romanian</option>
	    				           <option value="ru">Russian</option>
	    				           <option value="sk">Slovak</option>
	    				           <option value="sl">Slovenian</option>
	    				           <option value="es">Spanish</option>
	    				           <option value="sv">Swedish</option>
	    				           <option value="th">Thai</option>
	    				           <option value="tr">Turkish</option>
	    				           <option value="uk">Ukrainian</option>
	    				           <option value="vi">Vietnamese</option>
	    				        </select>
	    			</td>
	    		</tr>
	    	</table>
	    </form>
	    <div style="text-align:center;padding:5px">
	    	<a href="javascript:void(0)" class="easyui-linkbutton" onclick="submitForm()">Submit</a>
	    	<a href="javascript:void(0)" class="easyui-linkbutton" onclick="clearForm()">Clear</a>
	    </div>
	    </div>
	</div>
</body>
</html>